/* PALETA DE COLORES: https://paletadecolores.com.ar/paleta/3c3e57/2d2e41/1e1f2b/0f0f16/000000/ */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins";
}

header {
    background-color: #0f0f16;
    color: #fff;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000; /* Asegura que el nav esté por encima del contenido */
}

.nav ul {
    list-style-type: none;
    text-align: center;
}

.nav ul li {
    display: inline;
}


.nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    position: relative; /* Necesario para posicionar la barra */
}

.nav ul li a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: width 0.3s ease; /* Animación de la barra */
}

.nav ul li a:hover::after, .nav ul li a.active::after {
    width: calc(100% - 40px); /* Ancho de la barra (ancho del enlace menos padding) */
}

/* -----------MAIN----------- */

/* ---INICIO---*/
main {
    margin: 0;
    padding-top: 100px;
    background-color: #0f0f16;
}

/* Estilos para la barrita de tipeo */
#cursor,
#cursor2 {
    opacity: 1;
    animation: blink-caret 0.75s step-end infinite;
}

@keyframes blink-caret {
    50% {
        opacity: 0;
    }
}

.inicio {
    color: white; /* Color de texto para contrastar con el fondo oscuro */
    padding: 20px; /* Añade relleno alrededor del contenido */
    margin: 0;
}

#nombre {
    color: #ffe600;
}

.home {
    background-color: #0f0f16;
    min-height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra por debajo */
}

/* Estilos para el párrafo dentro del div "home" */
.home_p {
    position: relative;
    float: left;
    right: 300px;
    font-size: 30px;
    margin-bottom: 0; /* Espacio inferior entre párrafos */
}

/* Estilos para la imagen perfil */
.ini {
    flex: 1;
    display: flex;
    flex-direction: column; /* Alinea los elementos en columna */
    align-items: flex-start; /* Alinea los elementos a la izquierda */
    padding-top: 20px;
    margin-left: 100px;
}

.perfil {
    float: right; /* Flotar a la izquierda para colocarla al lado */
    margin-right: 20px; /* Espacio entre la imagen y el texto */
    margin-bottom: 20px; /* Espacio inferior entre la imagen y la descripción */
    width: 200px; /* Ancho deseado para la imagen */
    height: 200px; /* Altura deseada para la imagen */
}

.perfil img {
    width: 650px; /* Asegura que la imagen ocupe todo el espacio del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    display: block; /* Elimina el espacio adicional debajo de la imagen */
    position: relative;
    bottom: 500px;
    left: 20px;
    filter: grayscale(100%);
    opacity: 70%;
}

.boton-descarga {
    width: 100%; /* Ocupa todo el ancho disponible */
    text-align: center; /* Centra el contenido horizontalmente */
    margin-top: 20px; /* Espacio superior para separar del contenido anterior */
}

.boton {
    display: inline-block;
    padding: 10px 20px;
    float: left;
    position: relative;
    right: 200px;
    border: 2px solid #ffe600; /* Borde del botón */
    color: #ffe600; /* Color del texto */
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s; /* Transición suave */
}

.boton:hover {
    border: 2px solid #fdf28b; /* Color de fondo al pasar el mouse */
    color: #fdf28b; /* Cambia el color del texto */
    transition: 2s;
}

/* Estilos para la sección de descripción */
.descripcion {
    padding: 20px;
    padding-bottom: 100px;
    text-align: justify;
    color: #fff;
    max-width: 800px;
    margin: 0 auto;
}

/* ---INICIO---*/

/* ---HABILIDADES--- */
.skills {
    background-color: #252530;
    min-height: 100vh;
    padding: 50px 20px;
    text-align: center;
    color: #fff;
}

.sobre_mi h2 {
    padding-top: 100px;
    position: relative;
    right: 430px;
    top: 20px;
    color: #fff;
    font-size: 25px;
    margin-top: 20px;
}

.habilidades {
    display: flex;
    justify-content: center;
}

.h2_habilidades {
    font-size: 45px;
    color: #fff;
    text-align: center;
}

.category {
    max-width: 800px;
    width: 100%;
}

.lista_habilidades {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
    padding-bottom: 50px;
}

.habilidad {
    background-color: #1e1f2b;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: transform 0.3s ease;
    text-align: center;
}

.habilidad:hover {
    transform: translateY(-5px);
    background-color: #3c3e57;
    transition: 1s;
}

.habilidad img {
    width: auto; /* Tamaño deseado para las imágenes */
    height: auto; /* Ajusta según sea necesario */
    margin: 30px 10px 30px 10px;
    border-radius: 8px;
}

@media (max-width: 768px) {
    .lista_habilidades {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
}

@media (max-width: 576px) {
    .lista_habilidades {
        grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    }

    .habilidad img {
        width: 80px; /* Ajusta el tamaño de las imágenes en pantallas más pequeñas */
        height: 80px; /* Ajusta el tamaño de las imágenes en pantallas más pequeñas */
    }
}
/* ---HABILIDADES--- */

/* ---EXPERIENCIA--- */
.experiencia {
    background-color: #1e1f2b;
    min-height: 100vh;
    padding: 50px 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}
/* ---EXPERIENCIA--- */

/* ---RESEÑAS--- */
    /*background-color: #0f0f16
/* ---RESEÑAS--- */

/* ---CONTACTO--- */
.contacto {
    background-color: #1e1f2b;
    min-height: 100vh;
    padding: 50px 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}
/* ---CONTACTO--- */

/* -----------MAIN----------- */